$navbar-text: 'Raleway', sans-serif;
$normal-text: 'Source Sans Pro', sans-serif;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: $normal-text;
  color: black;
}
p {
  font-size: 14px;
}

#rectangle {
  width: 30rem;
  border: none;
  border-top: 0.1rem white dashed;
}

ul {
  font-family: $navbar-text;
  display: flex;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  li {
    font-weight: lighter;
    display: block;
    margin: 0 2.5rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
